* {
    box-sizing: border-box;
}

.conteudo {
    background-color: var(--primary-color);
    padding: 8rem 1rem 4rem 1rem;
}

.memory-game {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

}

@media screen and (max-width: 700px) {
    .memory-game {
        height: 320px;
        width: 320px;

    }

}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .08);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}



.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(92, 187, 182);
    backface-visibility: hidden;

}

.card-front {
    transform: rotateY(180deg);

}


.card.flip {
    transform: rotateY(180deg);
}