.conteudo {
    background-image: url(../../assets/bg-conteudo.png);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8rem 1rem 4rem 1rem;

}

.titulo__principal {
    color: var(--black-color);
    font-weight: 700;
    font-size: 2.75rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.subtitulo {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .titulo__principal {
        font-size: 2rem;
    }

}



.conteudo section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

@media screen and (max-width: 900px) {
    .lista {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width: 900px) {
    .lista ul {
        font-size: .9rem;
        text-align: center;
        width: 100%;

    }
}



.lista__item-preto {
    margin-bottom: .875rem;
}


.lista__item-preto a {
    color: var(--black-color);
    font-weight: 700;

}