.rodape {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 4rem 2rem 4rem 2rem;
}



.link__github div {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: auto;


}

.link__github div img {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    margin-right: .5rem;

}

.link__github a {
    font-weight: 700;
    color: var(--black-color);
    display: flex;
    flex-direction: row;
    align-items: center;


}

.rodape .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botao {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;


}

.botao:hover {
    border-radius: .5rem;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}


.botao-voltar {
    background-color: var(--black-color);
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    padding: .875rem 1.5rem .875rem 1.5rem;
    margin-right: 1rem;

}

.botao-voltar img {
    width: 10px;
}

.botao-voltar:hover {
    border-radius: .5rem;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}


.botao-avancar {
    background-color: var(--black-color);
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    padding: .875rem 1.5rem .875rem 1.5rem;
    text-align: center;
    margin-left: 1rem;

}

.botao-avancar img {
    width: 10px;
}




.botao-avancar:hover {
    border-radius: .5rem;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}



@media screen and (max-width: 900px) {
    .botao {
        font-size: .75rem;
    }

    .botao-voltar img {
        width: 8px;
    }

    .botao-avancar img {
        width: 8px;
    }

}